.sign-in {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-style: medium;
    width: 72px;
    height: 36px;
    border-radius: 8px;


}

.register {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-style: medium;
    width: 80px;
    height: 34px;
    border-radius: 8px;


}