@font-face {
  font-family: "Nacelle";
  /* Choose a descriptive name for your font */
  src: url("../fonts/Nacelle-SemiBold.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sign-in {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-style: medium;
  width: 72px;
  height: 36px;
  border-radius: 8px;
}

.register {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-style: medium;
  width: 80px;
  height: 34px;
  border-radius: 8px;
}

.links {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 32px;
}

body {
  background-image: url(../assets/Sign-up\ BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Inter", sans-serif;
}
body main h1 {
  font-family: "Nacelle", sans-serif !important;
  color: white;
}
body main .navbar-collapse {
  transition: height 0.3s ease;
}
body main .form-content {
  margin-top: 80px;
  width: 400px;
}
body main .form-section label {
  color: #838997;
  font-style: medium;
}
body main .form-section .input-wrapper {
  position: relative;
}
body main .form-section .input-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 1.5px;
  background: linear-gradient(135deg, rgba(31, 41, 55, 0.8784313725) 0%, #374151 50%, rgba(31, 41, 55, 0.8784313725) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}
body main .form-section .input-wrapper:focus-within::before {
  opacity: 1;
}
body main .form-section .input-wrapper ::-moz-placeholder {
  color: #374151 !important;
}
body main .form-section .input-wrapper ::placeholder {
  color: #374151 !important;
}
body main .form-section .input-wrapper .form-control {
  background: linear-gradient(135deg, #111827 0%, rgba(31, 41, 55, 0.4941176471) 54%, #111827 100%);
  border-radius: 8px;
  height: 44px;
  color: #374151;
  font-size: 14px;
  border: none !important;
  box-shadow: none !important;
}
body main .form-section .input-wrapper .form-control:focus {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
body main .form-section .register {
  background: linear-gradient(to top, #4F46E5 0%, #6366F1 100%) !important;
  color: white !important;
}
body main .form-section .sign-up {
  background: linear-gradient(to top, rgba(31, 41, 55, 0.6392156863) 0%, #1F2937 100%) !important;
  color: white;
}
body main .form-section p {
  margin: 0;
}
body main .form-section a {
  color: #6366F1;
  transition: 0.2s ease;
}
body main .form-section a:hover {
  text-decoration: underline !important;
  text-decoration-color: #4547ab !important;
}

/* Very small devices */
@media (max-width: 480px) {
  body {
    background-size: cover;
    /* Or 'cover' based on your preference */
  }
}
/* Tablet devices */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    background-position: center top;
  }
}
@media (max-width: 992px) {
  #navbarSupportedContent ul {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 0.5rem;
    gap: 10px;
  }
  #navbarSupportedContent ul li {
    transition: all 0.9s ease-in;
  }
  #navbarSupportedContent ul li .nav-item {
    margin: 0.25rem 0;
  }
  #navbarSupportedContent ul li .nav-link {
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    border-radius: 6px;
    margin: 0 2px;
  }
  #navbarSupportedContent ul li .nav-link.active {
    color: black;
    background-color: rgba(79, 70, 229, 0.1);
  }
  #navbarSupportedContent ul li .nav-link:hover {
    background-color: rgba(79, 70, 229, 0.1);
  }
  #navbarSupportedContent ul li a {
    color: black;
  }
  #navbarSupportedContent ul li :hover {
    background-color: rgba(79, 70, 229, 0.1);
    color: #4f46e5;
  }
  #navbarSupportedContent .ctas {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #e5e7eb;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
}

body {
  background-color: #030712 !important;
  max-height: 100vh;
}
body header {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
body header .navbar {
  background: linear-gradient(135deg, #111827 0%, rgba(31, 41, 55, 0.4941176471) 54%, #111827 100%) !important;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 16px;
  position: fixed;
  z-index: 1;
  width: 70%;
  height: 56px;
  padding: 10px;
  align-items: center;
  color: white !important;
}
body header .navbar::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(135deg, #1F2937 0%, #374151 50%, #1F2937 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  /* so clicks go through */
  z-index: -1;
  /* place behind navbar content */
}
body header .ctas {
  align-items: center;
}
body header .sign-in {
  background: linear-gradient(to top, rgba(31, 41, 55, 0.6392156863) 0%, #1F2937 100%);
  color: white !important;
  position: relative;
  z-index: 1;
}
body header .sign-in::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 0.8px;
  background: linear-gradient(135deg, #1F2937 0%, #4B5563 50%, #1F2937 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: -1;
}
body header .register {
  background: linear-gradient(to top, #4F46E5 0%, #6366F1 100%) !important;
  color: white !important;
  box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.6862745098);
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .hero-section {
  text-align: center;
}
body main .hero-section h1 {
  font-family: "Nacelle", Arial, Helvetica, sans-serif !important;
  font-size: 48px;
  color: #E7EAED !important;
}
body main .hero-section p {
  font-size: 16px;
  color: #7D86A2 !important;
  line-height: 30px;
}
body main .hero-section .ctas {
  gap: 10px;
}
body main .hero-section .ctas .hero-btn-1 {
  background: linear-gradient(to top, #4F46E5 0%, #6366F1 100%) !important;
  width: 146px;
  height: 46px;
  padding: 11px 16px;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-style: medium;
}
body main .hero-section .ctas .hero-btn-1:hover {
  box-shadow: 0 6px 12px rgba(78, 70, 229, 0.3);
}
body main .hero-section .ctas .hero-btn-2 {
  background: linear-gradient(to bottom, rgba(31, 41, 55, 0.6392156863) 0%, #1F2937 100%) !important;
  width: 142px;
  height: 44px;
  padding: 11px 16px;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-style: medium;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
body main .hero-section .ctas .hero-btn-2:hover {
  box-shadow: 0 6px 12px rgba(82, 110, 149, 0.3);
}
body main .hero-section .ctas .hero-btn-2::before {
  content: "";
  position: absolute;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(135deg, #1f2937 0%, #4B5563 50%, #1F2937 100%);
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  /* so clicks go through */
  z-index: -1;
  /* place behind navbar content */
}
body main .hero-section .hero-video {
  border-radius: 16px;
  background-image: linear-gradient(135deg, rgba(17, 24, 39, 0.3607843137) 0%, rgba(99, 102, 241, 0.1607843137) 54%, rgba(17, 24, 39, 0.5176470588) 100%), url(../assets/hero-image-01.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  width: 1024px;
  height: 576px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* Overlay (same as before, but reusable) */
}
body main .hero-section .hero-video .hero-content .video-play-btn {
  background-color: #080F24;
  z-index: 2;
  height: 40px;
  width: 186px;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-style: medium;
  transition: all 0.3s ease-in-out;
}
body main .hero-section .hero-video:hover .hero-content .video-play-btn {
  width: 196px;
  cursor: pointer;
}
body main .hero-section .hero-video .fullscreen-modal {
  display: none;
  /* hidden initially */
  position: fixed;
  inset: 0;
  /* top:0; right:0; bottom:0; left:0 */
  background: rgba(0, 0, 0, 0.95);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  border-radius: 16px;
}
body main .hero-section .hero-video .fullscreen-modal video {
  width: 100%;
  /* full viewport width */
  height: 576px;
  /* full viewport height */
  -o-object-fit: contain;
     object-fit: contain;
  /* keep video aspect ratio without cropping */
  z-index: 9999;
  transition: all 0.5s ease;
}
body main .hero-section .hero-video #closeFullscreen {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  z-index: 10000;
}
body main .hero-section .tailored-workflows .hr-with-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .hero-section .tailored-workflows .hr-with-text::before {
  content: "";
  height: 1px;
  background: linear-gradient(to left, rgba(199, 210, 254, 0.4784313725), #C7D2FE);
  /* Set line color */
  margin: 0 10px;
  /* Add some space around the text */
}
body main .hero-section .tailored-workflows .hr-with-text::after {
  content: "";
  height: 1px;
  background: linear-gradient(to right, rgba(199, 210, 254, 0.4784313725), #C7D2FE);
  /* Set line color */
  margin: 0 10px;
  /* Add some space around the text */
}
body main .hero-section .tailored-workflows .hr-with-text::before,
body main .hero-section .tailored-workflows .hr-with-text::after {
  width: 32px;
  flex-grow: 0;
}
body main .hero-section .tailored-workflows .hr-with-text span {
  white-space: nowrap;
  /* Prevent text from wrapping */
}
body main .hero-section .tailored-workflows .section-text {
  background: linear-gradient(to right, #6366F1 0%, #C7D2FE 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Inter", sans-serif;
  font-style: medium;
  font-size: 14px;
}
body main .hero-section .tailored-workflows h2 {
  color: #E7EAED !important;
  font-size: 40px;
}
body main .hero-section .tailored-workflows p {
  font-size: 16px;
  color: #7D86A2 !important;
  line-height: 30px;
}
body main .cards-section .card {
  width: 352px !important;
  height: 443px !important;
  background: linear-gradient(135deg, #111827 0%, rgba(31, 41, 55, 0.4784313725) 54%, rgba(26, 35, 49, 0.6705882353) 70%, #111827) !important;
  border-radius: 16px !important;
  padding: 1rem;
}/*# sourceMappingURL=index.css.map */